@font-face {
  font-family: 'ManropeBold';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('Manrope-Bold.ttf') format('woff');
}

@font-face {
  font-family: "GilroyMedium";
  url("Gilroy-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}



