@import '../../assets/helpers/index.scss';

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.children {
  position: relative;
  margin-top: 100px;


  @media screen and (max-width: 834px) {
    margin-top: 68px;
  }
}