@import '../../../assets/helpers/index.scss';

.header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: 100px;
  padding: 0 70px;
  background-color: $background;
  border-bottom: 1px solid $gray1;
  backdrop-filter: blur(8px);
  justify-content: space-between;

  @media screen and (max-width: 834px) {
    height: 68px;
    padding: 0 20px;
    border-bottom: none;
  }

  &__logo {
    cursor: pointer;

    svg {
      @media screen and (max-width: 834px) {
        width: 70%;
      }
    }
  }

  &__left {
    width: 200px;

    @media screen and (max-width: 834px) {
      display: none;
    }
  }

  &__right {
    width: 200px;
  }
}
