@import './helpers/index.scss';

html {
  font-family: 'ManropeBold', sans-serif;
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  display: block;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}

button,
input,
textarea,
select {
  font-family: inherit;
}

.display-none {
  display: none;
}

.container {
  padding: 0 $horizontalPadding;
  margin-top: 24px;
}

.local-container {
  width: 100%;
  padding: 32px $horizontalPadding;
}

.outer-container {
  width: 100%;
  padding: 32px $horizontalPadding;
}

.full-width {
  width: 100%;
}

.pagination {
  margin-top: 48px;
}

.long-string {
  display: inline-block;
  max-width: 200px !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.short-string {
  display: inline-block;
  max-width: 100px !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


